<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ mahsulot[1]}}</title>
    <link rel="stylesheet" href="/static/mahsulot.css">
</head>
<body>
    <h1>{{ mahsulot[1] }}</h1>
    <p><strong>{{ mahsulot[2] }}</strong></p>
    <img src="{{ mahsulot[7] }}" alt="{{ mahsulot[1] }}" width="300px">
    <p><strong>Hozirgi Narxi: {{ mahsulot[4] }} so'm</strong></p>

    <form method="POST">
        <input type="text" name="taklif_narx" placeholder="Taklif summasi">
        <button type="submit">Taklif yuborish</button>
    </form>

    <h3>Takliflar:</h3>
    <ul>
        {% for taklif in takliflar %}
            <li>{{ taklif[3] }} so'm - {{ taklif[4] }}</li>
        {% endfor %}
    </ul>

    <a href="/">Bosh sahifaga qaytish</a>



</html>
</body>